:root {
    --body: #2C2C34;
    --text: #D8D8F6;
    --button: #494850;
    --special: #B18FCF;
    --special2: #906caf;
    --screen: #978897;

}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 100%; /* Base font size */
background-color: var(--button);
}

body {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Buttons */
button {
background-color: var(--button); /* Button color */
color: var(--text); /* Button text color */
border: none; /* No border */
border-radius: 4px; /* Rounded corners */
cursor: pointer; /* Pointer cursor */
}

button:hover {
background-color: var(--screen); /* button color on hover */
}
/* Links */
a {
color: #007BFF; /* Link color */
text-decoration: none; /* No underline */
}

a:hover {
text-decoration: underline; /* Underline on hover */
}

.calculator {
display: flex;
flex-direction: column;
align-items: center;
width: 450px;
height: 450px;
background-color: var(--body);
padding: 20px;
gap: 20px;
box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.display {
background-color: var(--screen);
width: 400px;
height: 80px;
border: none; /* No border */
border-radius: 4px; /* Rounded corners */
overflow: hidden;
text-align: end;
align-items: center;
font-size: 60px;
padding: 10px;
}

.calcBody {
display: flex;
width: 450px;
gap: 10px;
justify-content: center;
align-items: center;
}

.digits {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 250px;
height: 300px;
gap:10px;
}

.digit {
width: 70px;
height: 70px;
font-size: 50px;
text-align: center;
flex-grow: 1;
margin: 0;
padding: 0;
}

#0 {
    flex-grow: 2;
}

.operators {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items:flex-start;
align-content: flex-start;
gap: 10px;
width: 150px;
height: 300px;
}

.calcBTN {
display: flex;
justify-content: center;
background-color: var(--special);
color: var(--body);
width: 70px;
height: 70px;
font-size: 50px;
text-align: center;
margin: 0;
padding: 0;
align-items: center;
}

.calculate {
    flex-grow: 2;
    background-color: var(--special2);
}

.clearDisp, .plusOrMinus, .delete, .dot{
    background-color: var(--special2);
}

.plusOrMinus, .clearDisp {
    font-size: 40px;
}

.calcBTN:hover {
    background-color: #df874c;
}